*{
  box-sizing: border-box;
}

body{
  -webkit-background-size: cover;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  width:98%;
  margin:0%;
} 

 

.wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
    /* width: 800px;
    margin: 5% auto; */
  }
  
  .form-area{
    display:flex;
    flex-wrap: wrap;
    background: rgba(0,0,0,0.8);
    border-radius: 25px;
    padding: 1.9em;
    margin-right: -8px;
  }
  

input{
  padding: 1em;
  margin-bottom: 1em;
  width:50%;
  background: rgba(255,255,255,.2);
  color:#fff;
  border-radius: 40px;
  margin-left:26%;
}

button{
  background-color: tomato;
  color:#fff;
  padding: 3% 10%;
  border-radius: 40px;
  font-size: 15px;
  text-transform:uppercase;
  margin-top: 5%;
  margin-left: 33%;
  
}

.first-name{
  color: #fff;
  text-transform: uppercase;
  line-height:40px ;
  margin-top: 40px;
  margin-bottom: -70px;
  text-align: center;
}


/* -------------------------------------------------- */

h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  color: white;
}

p{
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#name{
  margin-top: 5em;
}



.fancy {
  /* text-align: center; */

  
  box-sizing: border-box;
  width     : 200px;
  height    : 200px;
  padding   : 40px 2em 0 3em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;

  
  margin    : 100px 100px;

  position: relative;

  background-color: tomato;

  border-radius: 100% 100% 0 0;
  
}


.fancy:before,
.fancy:after {
  
  content: '';


  position: absolute;
  bottom  : 0;  

  background-color: tomato;
  border-radius: 100%;
}

.fancy:before {
  
  width  : 125px;
  height : 125px;

  
  left    : -100px;

 
  border-bottom-right-radius: 0;
}

.fancy:after {
  
  width  : 100px;
  height : 100px;

  
  right   : -60px;

  border-bottom-left-radius: 0;
}

